<div class="item">
  <img class="carouselImage" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{poster_path}}" data-{{media_type}}={{title}}
    data-id={{api_id}} data-poster={{poster_path}}>
</div>